:root {
    --primary-green: #2D6A4F;
    --secondary-green: #52B788;
    --ice-mint: #f0f7f4;
    --shadow: rgba(45, 106, 79, 0.1);
    --card-white: #FFFFFF;
    --primary-text: #444444;
    --secondary-text: #666666;
    --line-black: #999999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    background-color: #f5f5f5;
}