/* --- colors --- */
:root {
    --primary-green: #2D6A4F;
    --secondary-green: #52B788;
    --ice-mint: #f0f7f4;
    --shadow: rgba(45, 106, 79, 0.1);
    --card-white: #FFFFFF;
    --primary-text: #444444;
    --secondary-text: #666666;
    --line-black: #999999;
}

/* --- styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    padding-bottom: 96px;
}

/*  headers  */

/* Page Header */
.page-header {
    height: 64px;
    display: flex;
    align-items: left;
    padding: 16px;
}

.header-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-green);
}

/* optional (used in nested pages, i.e. faq page) */
.return-btn {
    width: 32px;
    height: 32px;
    margin: 0px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text);
    background-color: var(--card-white);
    border-radius: 50%;
    border: 1px solid #99999910;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    transition: all 0.2s ease;
}

/* Section Header */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px 12px 16px;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text);
    padding: 0;
}

/* search and filter */

.search-bar {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--card-white);
    border: 1px solid var(--line-black);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.search-bar input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
}

.search-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-btn svg {
    width: 16px;
    height: 16px;
    stroke-width: 2;
    background: none;
    color: var(--secondary-text);
}

/* filter pill */
.pill-filter {
    display: flex;
    align-items: flex-start;
    padding: 0px 0px 8px 16px;
    gap: 8px;
}

.category-pill {
    flex-shrink: 0;
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 6px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--secondary-text);
    background-color: var(--card-white);
    border: 1px solid var(--line-black);
    border-radius: 6px;
}

.category-pill.active {
    color: var(--secondary-green);
    border: 1px solid var(--secondary-green);
}

/* Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 9999;
    padding-bottom: env(safe-area-inset-bottom);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-item.active .icon-btn {
    stroke: var(--primary-green);
    stroke-width: 2.2;
}

.nav-item.active::after {
    content: "";
    width: 6px;
    height: 6px;
    margin-top: 4px;
    background: var(--primary-green);
    border-radius: 50%;
}

/* icon styles */

.icon-touch {
    width: 44px;
    height: 44px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    stroke: var(--primary-text);
}

.icon-btn {
    width: 32px;
    height: 32px;
    color: var(--primary-text);
    stroke-width: 1.5;
}

/* Interactions */
.icon-touch:active,
.nav-item:active,
.circle-btn:active {
    background-color: rgba(45, 106, 79, 0.08);
    border-radius: 50%;
}

.impact-dropdown-btn:active,
.news-card:active,
.submit-dropdown-btn:active,
.submit-btn:active,
.scan-btn:active,
.category-pill:active,
.join-btn:active,
.specials-btn:active,
.dailies-btn:active,
.circle-btn:active,
.impact-dropdown-btn:active,
.quick-item:active {
    transform: scale(0.98);
    background-color: var(--ice-mint);
}



