.pill-filter {
    display: flex;
    align-items: flex-start;    
    padding: 0px 0px 8px 16px;
    gap: 8px;
}

.category-pill {
    display: inline-block;
    align-self: flex-start;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text);
    background-color: var(--card-white);
    border: 1px solid var(--line-black);
    border-radius: 6px;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.category-pill.active  {
    border: 1px solid var(--secondary-green);
    color: var(--secondary-green);
}

.category-pill:active {
    transform: scale(0.98);
    background-color: var(--ice-mint);
}

.daily-quest-container {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
}

.daily-quest-container .section-header {
    padding: 0px 0px 8px 0px;
}

.daily-streak {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

/* Progress bar container */
.streak-bar {
    flex: 1;
    height: 16px;
    background-color: var(--card-white);
    border: 1px solid var(--line-black);
    border-radius: 100px;
    overflow: hidden;
}

/* Filled portion */
.streak-fill {
    height: 100%;
    background-color: var(--secondary-green);
    border-radius: 999px;
}

/* Text + icon */
.streak-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.streak-text {
    font-size: 12px;
    color: var(--secondary-text);
}

.streak-icon {
    width: 24px;
    height: 24px;
    color: var(--secondary-green);
    stroke-width: 2;
}

.dailies-card {
    height: 60px;
    margin: 0 16px 12px 16px;
    background: var(--card-white);
    border-radius: 6px;
    display: flex;
    overflow: hidden;
    border: 1px solid #99999910;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.dailies-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--ice-mint);
}

.dailies-content {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.dailies-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 0 4px 0;
    line-height: 1.2;
}

.dailies-text {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-green);
    margin: 0;
    overflow: hidden;
}

.dailies-details {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: -4px;
}

.dailies-btn {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    border-radius: 6px;
    background-color: var(--secondary-green);
    color: var(--card-white);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.dailies-btn.active  {
    background-color: #61616110; 
    color: var(--primary-text);
}

.specials-container {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
}

.specials-card {
    height: 112px;
    margin: 0 16px 12px 16px;
    background: var(--card-white);
    border-radius: 6px;
    display: flex;
    overflow: hidden;
    border: 1px solid #99999910;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.specials-image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--ice-mint);
}

.specials-content {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}



.specials-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 0 4px 0;
    line-height: 1.2;
}

.specials-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-green);
    margin: 0;
    overflow: hidden;
}

.specials-details {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.specials-btn {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    border-radius: 6px;
    background-color: var(--secondary-green);
    color: var(--card-white);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;    
}

.specials-details a, .dailies-details a {
    text-decoration: none;
    color: inherit;
}


.specials-btn.active  {
    background-color: #61616110; 
    color: var(--primary-text);
}