body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('images/tree.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; 
    z-index: -1;
}

.text-box {
    background-color: var(--card-white);
    color: var(--secondary-green);
}

.main-content {
    margin-left: 0px;
    padding: 0px;
}

.leaderboard-banner {
    width: 98%;
    height: 440px;
    background: #52b757;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    border-radius: 12px;
    position: relative;
}

.leaderboard-title {
    position: absolute;
    top: 5px;
    left: 20px;
}

.podium-wrapper {
    display: flex;
    align-items: flex-end;
}

.podium {
    width: 200px;
    background: #3f3f3f;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 16px;
    border-radius: 12px 12px 0 0;
    position: relative;
}

.podium-info {
    display: flex;
    flex-direction: column; /* stack vertically */
    align-items: center;    /* center horizontally */
    margin-top: 10px;       /* spacing below profile-pic */
}

.first {height: 320px;background: linear-gradient(#F7D774, #E5B939);}
.second {height: 260px;background: linear-gradient(#E0E0E0, #B0B0B0);}
.third {height: 220px;background: linear-gradient(#D49A6A, #B86C35);}

.profile-pic {
    width: 139px;
    height: 139px;
    background: #e0e0e0;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.first .profile-pic {
    background: #F7D774;
    border-color: #E5B939;
}

.second .profile-pic {
    background: #E0E0E0;
    border-color: #B0B0B0;
}

.third .profile-pic {
    background: #D49A6A;
    border-color: #B86C35;
}

.profile-pic img {
    height: 100%;
    width: 100%;
}

.podium {
    font-weight: 600;
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.name-box {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    color: #000000;
    border: 4px solid transparent;
}

.first .name-box {
    background: #F7D774;
    border-color: #E5B939;
}

.second .name-box {
    background: #E0E0E0;
    border-color: #B0B0B0;
}

.third .name-box {
    background: #D49A6A;
    border-color: #B86C35;
}

.points {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    color: #444444;
    border: 4px solid transparent;
    margin-top: 10px;
}   

.first .points {
    background: #F7D774;
    border-color: #E5B939;
}

.second .points {
    background: #E0E0E0;
    border-color: #B0B0B0;
}

.third .points {
    background: #D49A6A;
    border-color: #B86C35;
}

.leaderboard-list-box {
    width: 80%;
    max-height: auto;
    margin: 40px auto;
    background: var(--card-white)cc; 
    backdrop-filter: blur(4px);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.rank-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    border-bottom: 1px solid #ddd;
}

.rank-row:last-child {
    border-bottom: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.small-pic {
    width: 50px;
    height: 50px;
    background: #e0e0e0;
    border-radius: 50%;
    border: 2px solid var(--secondary-green);
}

.small-pic img {
    height: 100%;
    width: 100%;
}

.rank-name {
    font-size: 20px;
    color: var(--primary-text);
    font-weight: 500;
}

.rank-points {
    font-size: 20px;
    color: var(--secondary-text);
    font-weight: 600;
}

