body::before {
    content: "";
    position: fixed; /* stays fixed while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('images/tree.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* 20% visible */
    z-index: -1; /* behind all content */
}

#home-icon-box {
    width: 116px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-white);
    border-radius: 20px;
    border-color: var(--line-black);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
}

#home-icon-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

#home-icon-box img{
    filter: brightness(0) saturate(100%) invert(47%) sepia(57%) saturate(582%) hue-rotate(78deg) brightness(95%) contrast(92%);
}

.impact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 16px;
    margin-top: 32px;
}

.impact-box {
    width: 328px;
    height: 149px;
    background-color: var(--card-white);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.impact-box h3{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-text);
}

.impact-next-btn {
    width: 70px;
    height: 149px;
    border: none;
    background-color: var(--card-white);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.impact-next-btn img {
    width: 40px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(60%) contrast(85%);
}

.impact-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

.impact-next-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

.content-container {
    display: flex;
    gap: 32px;
    margin: 32px 16px;
}

.image-holder {
    width: 324px;
    height: 324px;
    border-radius: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--card-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-holder:hover {
    transform: translateY(-3px) scale(1.03);
}

.content-text-box {
    flex: 1;
    min-width: 300px;
    height: auto;
    /* width: 1164px;
    height: 324px; */
    border-radius: 16px;
    border: none;
    padding: 24px;
    cursor: pointer;
    background-color: var(--card-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-text-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.text-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.category-box {
    border: 0.5px solid var(--line-black);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    background-color: #EFEFEF;
    width: 252px;
    color: var(--primary-text);
    margin: 0;
}

.title-box {
    font-size: 32px;
    margin: 0;
    color: var(--primary-text);
}

.description-box {
    font-size: 20px;
    margin: 0;
    color: var(--line-black);
}

.next-btn {
    width: 70px;
    height: 324px;
    border: none;
    border-radius: 16px;
    background-color: var(--card-white);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.next-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.next-btn img {
    width: 40px;
    height: auto;
}
