/* rewards */
.rewards-container {
    padding: 8px 0px;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
}

@media (min-width: 768px) {
    .rewards-container {
        grid-template-columns: repeat(2, 1fr);
        margin:  auto;
    }
}

.rewards-card {
    display: flex;
    height: 112px;
    margin: 0 16px 12px 16px;
    overflow: hidden;
    background: var(--card-white);
    border: 1px solid #99999910;
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--shadow);
}

.rewards-image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    background-color: var(--ice-mint);
    border-radius: 6px;
}

.rewards-content {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rewards-title {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.rewards-text {
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-green);
}

.rewards-details {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.rewards-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--secondary-green);
    color: var(--card-white);
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--shadow);
    transition: all 0.2s ease;
}

/* interactions (kinda buggy idk) */
.rewards-btn.active {
    color: var(--primary-text);
    background-color: #61616110;
}

.rewards-details a, 
.dailies-details a {
    text-decoration: none;
    color: inherit;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px 20px 20px 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    text-align: center;
    position: relative; 
}

.terms-box {
    border: 1px solid #ddd;
    height: 150px;
    overflow-y: scroll;
    margin: 15px 0;
}

.close-btn {
    position: absolute; 
    top: 10px; 
    right: 15px; 
    
    font-size: 24px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}