/* rewards */

.rewards-container {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
}

.rewards-card {
    display: flex;
    height: 112px;
    margin: 0 16px 12px 16px;
    overflow: hidden;
    background: var(--card-white);
    border: 1px solid #99999910;
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--shadow);
}

.rewards-image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    background-color: var(--ice-mint);
    border-radius: 6px;
}

.rewards-content {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rewards-title {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.rewards-text {
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-green);
}

.rewards-details {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.rewards-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    background-color: var(--secondary-green);
    color: var(--card-white);
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--shadow);
    transition: all 0.2s ease;
}

/* interactions (kinda buggy idk) */
.rewards-btn.active {
    color: var(--primary-text);
    background-color: #61616110;
}

.rewards-details a, 
.dailies-details a {
    text-decoration: none;
    color: inherit;
}