body::before {
    content: "";
    position: fixed; /* stays fixed while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/news.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* 20% visible */
    z-index: -1; /* behind all content */
}

#home-icon-box {
    width: 116px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-white);
    border-radius: 20px;
    border-color: var(--line-black);
    box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
}

#home-icon-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

#home-icon-box img{
    filter: brightness(0) saturate(100%) invert(47%) sepia(57%) saturate(582%) hue-rotate(78deg) brightness(95%) contrast(92%);
}

.content-holder {
    all: unset; 
    width: 95%;
    height: 720px;
    background-color: var(--card-white);
    border-radius: 16px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.content-image {
    height: 60%;
    width: 100%;
    border: none;
}

.content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-text-box {
    height: 40%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-text-title {
    font-size: 32px;
    margin: 0;
    color: var(--primary-text);
}

.content-text-description {
    font-size: 20px;
    margin: 0;
    color: var(--line-black);
}

.content-holder:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

.category-box {
    position: absolute;     /* ✅ overlay */
    top: 16px;              /* spacing from top */
    left: 16px;             /* spacing from left */

    border: 0.5px solid var(--line-black);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background-color: #EFEFEF;
    color: var(--primary-text);

    z-index: 10;            /* ✅ above image */
}
