.pill-filter {
    display: flex;
    align-items: flex-start; 
    flex-direction: row;   
    padding: 0px 0px 8px 16px;
    gap: 8px;
    overflow-x: auto;
}

.category-pill {
    flex-shrink: 0;
    display: inline-block;
    align-self: flex-start;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text);
    background-color: var(--card-white);
    border: 1px solid var(--line-black);
    border-radius: 6px;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.category-pill.active  {
    border: 1px solid var(--secondary-green);
    color: var(--secondary-green);
}

.rewards-container {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
}

.rewards-card {
    height: 112px;
    margin: 0 16px 12px 16px;
    background: var(--card-white);
    border-radius: 6px;
    display: flex;
    overflow: hidden;
    border: 1px solid #99999910;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.rewards-image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--ice-mint);
}

.rewards-content {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}



.rewards-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 0 4px 0;
    line-height: 1.2;
}

.rewards-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-green);
    margin: 0;
    overflow: hidden;
}

.rewards-details {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.rewards-btn {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    border-radius: 6px;
    background-color: var(--secondary-green);
    color: var(--card-white);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;    
}

.rewards-details a, .dailies-details a {
    text-decoration: none;
    color: inherit;
}


.rewards-btn.active  {
    background-color: #61616110; 
    color: var(--primary-text);
}