.hero {
    position: relative;      /* needed for absolute positioning inside */
    height: 250px;
    width: 100%;
    background-image: url('https://picsum.photos/600/400');
    background-size: cover;
    background-position: center;
}


.hero .return-btn {
    position: absolute;      /* sits on top of the hero image */
    top: 16px;
    left: 16px;
    z-index: 10;
}

/* White content section */
.challenges-container {
    position: relative;
    background-color: var(--card-white);
    border-top-left-radius: 24px;   
    border-top-right-radius: 24px;
    padding: 0px 16px;
    margin-top: -34px;              
    min-height: calc(100vh - 200px); 
    border: 1px solid #99999910; 
    box-shadow: 0 4px -12px rgba(45, 106, 79, 0.15);
    z-index: 5;
}

.challenges-container h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 16px;
    color: var(--primary-text);
    line-height: 1.5;
    text-align: justify;
}

.details-container h6 {
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-green);
    margin-bottom: 8px;
}

.details-container p {
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-text);
    margin-bottom: 0px;
}

.details-container {
    margin-top: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #99999910;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.join-btn {
    margin: 24px auto 32px auto;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary-green);
    color: var(--card-white);
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    cursor: pointer;
    transition: all 0.2s ease;
}

.join-btn-container {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}