/* daily */
.daily-quest-container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}

.daily-quest-container .section-header {
    padding: 0px 0px 8px 0px;
}

/* streak bar */
.daily-streak {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.streak-bar {
    flex: 1;
    height: 16px;
    background-color: var(--card-white);
    border: 1px solid #61616110;
    border-radius: 100px;
    overflow: hidden;
}

.streak-fill {
    height: 100%;
    background-color: var(--secondary-green);
    border-radius: 999px;
}

.streak-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.streak-text {
    font-size: 12px;
    color: var(--secondary-text);
}

.streak-icon {
    width: 24px;
    height: 24px;
    color: var(--secondary-green);
    stroke-width: 2;
}

/* daily quest */
.dailies-card {
    display: flex;
    height: 60px;
    margin: 0 16px 12px 16px;
    overflow: hidden;
    background: var(--card-white);
    border: 1px solid #99999910;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.dailies-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: var(--ice-mint);
    border-radius: 6px;
}

.dailies-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
}

.dailies-title {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.dailies-text {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    color: var(--secondary-green);
}

.dailies-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: -4px;
}

.dailies-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    color: var(--card-white);
    background-color: var(--secondary-green);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    cursor: pointer;
    transition: all 0.2s ease;
}

/* sepecial events */
.specials-container {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
}

.specials-card {
    display: flex;
    height: 112px;
    margin: 0 16px 12px 16px;
    overflow: hidden;
    background: var(--card-white);
    border: 1px solid #99999910;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.specials-image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    background-color: var(--ice-mint);
    border-radius: 6px;
}

.specials-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
}

.specials-title {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.specials-text {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    color: var(--secondary-green);
}

.specials-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 0px;
}

.specials-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: var(--card-white);
    background-color: var(--secondary-green);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    cursor: pointer;
    transition: all 0.2s ease;
}


/* interactions */
.specials-details a,
.dailies-details a {
    text-decoration: none;
    color: inherit;
}

.specials-btn.active,
.dailies-btn.active {
    background-color: #61616110;
    color: var(--primary-text);
}