.top-bar {
            position: fixed;
            width: 100%;
            height: 74px;
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 1000;
            box-shadow: 0 6px 4px rgba(0,0,0,0.05);
        }

.default-icon-container {
    margin-left: auto;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn img {
    width: 40px;
    height: auto;
}

.eco-logo {
    width: 70px;
    height: auto;
    margin-right: 20px;
}

.top-bar h2 {
    font-size: 40px; 
    color: #53B757;
    font-weight: 500;
}

.side-bar {
    position: fixed;
    height: 100%;
    width: 74px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    z-index: 800;
}

.participant-icon-container {
    margin-top: 142px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100%;
}

.participant-icon {
    width: 40px;
    height: auto;
}

#logout {
    width: 40px;
    height: auto;
    margin-top: auto;
    margin-bottom: 32px;
}