#verification-icon {
    width: 116px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #999999;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
}

#verification-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

#verification-icon img {
    filter: brightness(0) saturate(100%) invert(47%) sepia(57%) saturate(582%) hue-rotate(78deg) brightness(95%) contrast(92%);
}

.verification-tabs {
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.verification-tabs input[type="radio"] {
    display: none;
}

.tab-box {
    padding: 12px 28px;
    font-size: 16px;      
    font-weight: 500;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    color: #9e9e9e;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + .tab-box {
    border-color: #4CAF50;
    color: #4CAF50;
    background-color: #f9fff9;
}


.tab-content {
    display: none;
    width: 100%;
    margin-top: 30px;
}

#pending:checked ~ #content-pending,
#approved:checked ~ #content-approved,
#rejected:checked ~ #content-rejected {
    display: block !important;
}

.verification-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Forces 2 boxes per row */
    gap: 20px;
    width: 100%;
}

.verification-item {
    cursor: pointer;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.item-details {
    display: flex;
    gap: 15px;
}

.user-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.challenge-name {
    margin: 5px 0 15px 0;
    font-size: 18px;
}

.proof-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    background-color: #f0f0f0;
}

.button-group {
    display: flex;
    gap: 10px;
}

.btn-reject, .btn-approve {
    padding: 6px 15px;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    font-weight: bold;
}

.btn-reject { border: 1px solid #ff5c5c; color: #ff5c5c; }
.btn-approve { border: 1px solid #4CAF50; color: #4CAF50; }

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5); 
}

/* Modal Box */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.button-group-modal {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}