/* profile */
.profile-page {
    padding: 0px 16px;
}

/* vatar */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.upload-avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-bottom: 12px;
    overflow: hidden;
    cursor: pointer;
    background-color: #61616110;
    border: 2px solid var(--line-black);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.upload-avatar:hover {
    background-color: var(--ice-mint);
    border-color: var(--secondary-green);
}

.upload-avatar img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-text {
    z-index: 1;
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-text);
}

.profile-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text);
    margin-bottom: 4px;
}

.profile-id {
    font-size: 14px;
    color: var(--secondary-text);
}

/* stats */
.profile-stats {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.stat-card {
    flex: 1;
    padding: 12px; 
    text-align: center;
    background: var(--card-white);
    border: 1px solid #99999910;
    border-radius: 6px;
    box-shadow: 0 4px 12px var(--shadow);
}

.stat-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-green);
}

.stat-value {
    font-size: 14px; 
    font-weight: 600;
    color: var(--secondary-text);
}

/* quick access */
.section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--primary-text);
}

.quick-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    text-decoration: none;
    color: var(--primary-text);
    border-bottom: 1px solid rgba(45, 106, 79, 0.1);
    cursor: pointer;
}

.quick-item svg {
    width: 24px;
    height: 24px;
    color: var(--primary-green);
}

.quick-item span {
    flex: 1;
    font-size: 14px;
}

.chevron {
    color: var(--secondary-text);
}

/* logout */
.quick-item.logout {
    color: #d9534f;
    border-bottom: 0; /* Remove line for last item */
}

.quick-item.logout svg {
    color: #d9534f;
    stroke: #d9534f;
}

#logout-button {
    background: none;
    border: none;
    font: inherit; 
    color: inherit; 
    cursor: pointer;
    text-align: left;
    flex: 1; 
    outline: none;
}




