/* hero */
.hero {
    position: relative; 
    width: 100%;
    height: 250px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
}

.hero .return-btn {
    position: absolute; 
    top: 16px;
    left: 16px;
    z-index: 10;
}

/* details */
.challenges-container {
    position: relative;
    z-index: 5;
    margin-top: -34px; 
    padding: 0px 16px;
    min-height: calc(100vh - 200px);
    background-color: var(--card-white);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 1px solid #99999910;
    box-shadow: 0 4px -12px rgba(45, 106, 79, 0.15);
}

.challenges-container h1 {
    margin: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-text);
    text-align: justify;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16px;
    padding: 12px;
    border: 1px solid #99999910;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
}

.details-container h6 {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-green);
}

.details-container p {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-text);
}

/* join */

.join-btn-container {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}

.join-btn {
    margin: 24px auto 32px auto;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    color: var(--card-white);
    background-color: var(--secondary-green);
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    cursor: pointer;
    transition: all 0.2s ease;
}