/* hero */
.hero {
    position: relative; 
    width: 100%;
    height: 250px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
}

.hero .return-btn {
    position: absolute; 
    top: 16px;
    left: 16px;
    z-index: 10;
}

/* article */
.article-container {
    position: relative;
    z-index: 5;
    margin-top: -34px; 
    padding: 16px;
    min-height: calc(100vh - 200px);
    background-color: var(--card-white);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 1px solid #99999910;
    box-shadow: 0 4px -12px rgba(45, 106, 79, 0.15);
}

.news-tag {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 6px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--secondary-green);
    background-color: var(--ice-mint);
    border-radius: 2px;
}

.article-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-text);
    text-align: justify;
}

.article-container h2 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-text);
    text-align: justify;
}

.article-container p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text);
    text-align: justify;
}

.article-img {
    border-radius: 12px;
    display: block;       
    width: 80%;           
    max-width: 100%;      
    margin: 16px auto;   
    border-radius: 12px;
}