/* subheader */
.econews-header .section-header {
    padding: 16px 0px 16px 16px; 
}

/* news card */
.news-link {
    display: flex;     
    color: inherit;      
    text-decoration: none; 
    align-items: stretch;
}

.news-card {
    display: flex;
    height: 120px;
    margin: 0 16px 12px 16px;
    overflow: hidden;
    background: var(--card-white);
    border: 1px solid #99999910;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(45, 106, 79, 0.15);
    transition: all 0.2s ease;
}

.news-image {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-color: var(--ice-mint);
    object-position: center;
    max-width: 800px;
    min-width: 120px;
    flex-shrink: 0;
}

.news-content {
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.news-tag {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 6px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--secondary-green);
    background-color: var(--ice-mint);
    border-radius: 2px;
}

.news-title {
    margin: 0 0 4px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-text);
}

.news-text {
    margin: 0;
    font-size: 13px;
    color: var(--secondary-text);
    overflow: hidden;
}
/* SEARCH SECTION */
.search-container {
    width: 100%;
    margin-bottom: 24px;
    position: relative;
}

.search-box {
    display: flex;
    align-items: center;
    background: var(--card-white);
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 8px 16px;
    box-shadow: 0 2px 6px var(--shadow);
}


#search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background: transparent;
}

.search-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    z-index: 100;
    overflow: hidden;
}

.search-item {
    padding: 12px 16px;
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer;
}
.search-icon {
    color: var(--secondary-text);
    width: 20px;
    margin-right: 10px;
}
