
#reward-icon-box {
    width: 116px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #999999;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
}

#reward-icon-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

#reward-icon-box img{
    filter: brightness(0) saturate(100%) invert(47%) sepia(57%) saturate(582%) hue-rotate(78deg) brightness(95%) contrast(92%);
}

.reward-categories {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 16px;
    align-items: center;
}

.category-btn {
    padding: 8px 16px;
    border: 1px solid var(--secondary-text);
    background-color: var(--cardwhite);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    text-decoration: none; 
    color: var(--secondary-text);  
}

.category-btn:visited {
    color: #333;    
    background-color: var(--ice-mint);        
}

.category-btn.active, .category-btn:hover {
    color: var(--secondary-green);
    border-color: var(--secondary-green);
}

.add-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-btn-container {
    flex-shrink: 0;         
    width: 32px;             
    height: 32px;
    padding: 0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 4px var(--shadow);
    transition: all 0.2s ease;
    position: relative; 
    margin-right: auto;
}

.add-btn-container:hover,
.add-btn:hover {
    background-color: #53B757;  
    box-shadow: 0 4px 8px rgba(83, 183, 87, 0.2);
}


.add-btn-container:hover img,
.add-btn:hover img {
    filter: brightness(0) invert(1); 
}


.add-btn.no-hover:hover {
    transform: none;
    box-shadow: none;
}

.add-btn img {
    width: 15px;
    height: auto;
}


/* Tooltip hidden by default */
.tooltip {
    visibility: hidden;
    background-color: #333;  /* dark background */
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 120%;   /* above the button */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;  /* prevents tooltip from blocking hover */
}

/* Show tooltip on hover */
.add-btn-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.result-count {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}

.reward-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;              
    margin: 0 auto;
}
.reward-card {
    display: flex;
    width: 280px;       
    width: 100%;       
    min-height: 156px;         
    align-items: center;
    gap: 12px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    flex-shrink: 0;  
    box-sizing: border-box;         
}

@media (min-width: 1024px) {
    .reward-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


.reward-card-trash-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;          
    outline: none;         
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
}

.reward-card-trash-icon:hover {
    background-color: rgba(100, 100, 100, 0.2);
    transform: scale(1.1);
}

.reward-card-trash-icon img {
    width: 16px;
    height: 16px;
    filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(60%) contrast(100%);
}


.reward-img img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 8px;
}

.reward-info h3 {
    margin: 0;
    font-size:16px;
    font-weight: 600;
}

.reward-points {
    margin: 4px 0;
    font-size: 16px;
    color: #53B757;
    font-weight: 500;
}
/*
.unavailible-btn {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #53B757;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
}
*/
.redeem-btn:hover {
    background-color: #449e50;
}

/*===================== SIDE BAR ICON CONTAINER =================*/
.event-manager-icon-container {
    margin-top: 142px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100%;
}

/* ===== MODAL OVERLAY ===== */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.modal-overlay.show {
    visibility: visible;
    opacity: 1;
}

/* ===== MODAL BOX ===== */
.modal-box {
    width: 650px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 26px;
    cursor: pointer;
}

/* Image */
.modal-image {
    height: 160px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    border-radius: 8px;
}

/* Footer */
.modal-footer {
    text-align: right;
    margin-top: 15px;
}

.modal-footer button {
    background: var(--secondary-green);
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}